.Chat-main
  .Right-header
    .Header-group
      .Header-group__group-name
        test
      %ul.Header-group__member-list
        Member :
        %li.Header-group__member-name
          masa
    = link_to "#", class: "Edit-btn" do
      Edit
  .Message-list
    .Message-box
      .Message-info
        .Message-info__user-name
          masa
        .Message-info__date
          2019/11/20(Wed) 17:43:01
      .Message
        %p.Message__content
          aiueo
    .Message-box
      .Message-info
        .Message-info__user-name
          masa
        .Message-info__date
          2019/11/20(Wed) 17:43:34
      .Message
        %p.Message__content
          今日は夜から雨
  .Message-form