.Right-header{
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Header-group{
    &__group-name{
      color: #333333;
      font-size: 20px;
      padding-top: 35px;
    }
    &__member-list{
      color: #999999;
      display: flex;
      margin-top: 15px;
      font-size: 12px;
    }
    &__member-name{
      color: #999999;
      font-size: 12px;
      margin-left: 4px;
    }
  }
  .Edit-btn{
    text-decoration: none;
    line-height: 40px;
    font-size: 16px;
    width: 72px;
    height: 40px;
    color: #38aef0;
    border: 1px solid #38aef0;
    padding: 0 20px;
    margin: 28px 0;
  }
}