.wrapper{
  display: flex;
  height: 100vh;
}

.Side-bar{
  width: 300px;
  background-color: #253141;

  .Left-header{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
  }

  .Group-list{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  }
}

.Chat-main{
  width: calc(100vw - 300px);
  background-color: #ffffff;

  .Right-header{
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Message-list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px 0 40px;
  }

  .Message-form{
    height: 90px;
    background-color: #d2d2d2;
  }
}